* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* Containers */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.background-color-red {
    background-color: red;
}

.background-color-green {
    background-color: green;
}

.background-color-yellow {
    background-color: yellow;
}

.buttons-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}
/* End Containers */

/* Positions */
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:after {
    content: "";
    display: table;
    clear: both;
  }

p {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
/* End Positions */

/* Images and Promotional Phrases */
.shoes-img {
    width: 100%;
}
.promotional-phrase-yellow {
    color: yellow;
}

.promotional-phrase-green {
    color: green;
}
/* Enf Images and Promotional Phrases */

/* Buttons */
.menù-list {
    list-style-type: none;
}

.menù-list li {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
}

.menù-list li a {
    text-decoration: none;
    font-size: x-large;
    display: inline-block;
    width: 2em;
}